Invoice Workflow (1).json
{
  "name": "Invoice Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1veqNAirNUmnqgiZFG0yZGRVZ28UX1cvf",
          "mode": "list"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "346378a0-7837-4d93-b92c-7794fc341575",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "birpgDigoaGXq2iC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "cd756cab-39dc-45e5-9bee-e1d92fb8d8eb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "07f78a5c-ffe3-402b-94ea-a09b7473ba92",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "birpgDigoaGXq2iC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number ",
              "description": "Number of the Invoice",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "Name of the Client",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "email of the client",
              "required": true
            },
            {
              "name": "Client Adddress",
              "description": "Address of the client",
              "required": true
            },
            {
              "name": "Client Phone ",
              "description": "Phone number of the Client ",
              "required": true
            },
            {
              "name": "Total Amount ",
              "description": "the Total Amount ",
              "required": true
            },
            {
              "name": "Invoice Date ",
              "description": "Date of the Invoice ",
              "required": true
            },
            {
              "name": "Due Date",
              "description": "Due date "
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        608,
        0
      ],
      "id": "69dcb987-05b5-42b4-ba1f-c75c20acc0a4",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        544,
        208
      ],
      "id": "84295d2f-620e-426e-bf7e-db79c8a16d19",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TDTX1n92GhANRmBS",
          "name": "DEMO"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1K1bUm6YTKLv1NLZk1xX-A4es8FAQAJa-wEtD4Miqa5U",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K1bUm6YTKLv1NLZk1xX-A4es8FAQAJa-wEtD4Miqa5U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K1bUm6YTKLv1NLZk1xX-A4es8FAQAJa-wEtD4Miqa5U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number '] }}",
            " Client Name": "={{ $json.output['Client Name'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Client Address": "={{ $json.output['Client Adddress'] }}",
            "Client Phone ": "={{ $json.output['Client Phone '] }}",
            "Total Amount ": "={{ $json.output['Total Amount '] }}",
            "Invoice Date": "={{ $json.output['Invoice Date '] }}",
            "Due Date ": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " Client Name",
              "displayName": " Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Phone ",
              "displayName": "Client Phone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Amount ",
              "displayName": "Total Amount ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Due Date ",
              "displayName": "Due Date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        0
      ],
      "id": "c2333edc-8bbd-497b-bdda-319488571da5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VTWT6M6ynSa6ONV3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Invoice Number: {{ $json['Invoice Number'] }}\n\nClient Name: {{ $json[' Client Name'] }}\n\nClient Email: {{ $json[\"Client Email\"] }}\n\nTotal Amount: {{ $json['Total Amount '] }}\n\nInvoice Date: {{ $json[\"Invoice Date\"] }}\n\nDue Date: {{ $json['Due Date '] }}\n"
            },
            {
              "role": "system",
              "content": "# Overview\nYou are an email expert for Green Grass Corp named Greenie. You will receive invoice information. Your job is to notify the internal billing team that an invoice was received/sent.\n\n## Email\nInform the billing team of the invoice. Let them know we have also updated this in the Invoice Database, and they can view it here:\nhttps://docs.google.com/spreadsheets/d/1K1bUm6YTKLv1NLZk1xX-A4es8FAQAJa-wEtD4Miqa5U/edit?gid=0#gid=0\n\n## Output\nOutput the following parameters separately:\nSubject\nEmail\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1136,
        0
      ],
      "id": "aa196fbb-45e4-42f0-a645-4cd6301088d0",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "TDTX1n92GhANRmBS",
          "name": "DEMO"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "gaikwadgauri05@gmail.com",
        "subject": "={{ $json.output[0].content[0].text.Subject }}",
        "emailType": "text",
        "message": "={{ $json.output[0].content[0].text.Email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1488,
        0
      ],
      "id": "04d3a6c2-008e-4014-b218-dd93e7fba771",
      "name": "Send a message",
      "webhookId": "32e75657-b0cf-4ef4-80f5-698b744836e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "exZT3gYjJMNo9L1D",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "18ab09b9-7497-41b5-a0fd-cfe0474dbfa7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19f96418b2d3b349af2039867261256ba1a243869d32abea543f98d405025d3a"
  },
  "id": "aU3Tf1CniT6vXk8p",
  "tags": []
}