LinkedIn Content Creator.json
{
  "name": "LinkedIn Content Creator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6cd29da1-4dfc-4e92-b22c-0ee52484aa25",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GfVrZfWaf10pmbJ7SC-NNFxODhkTzsjVe34e_NWCHwE",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GfVrZfWaf10pmbJ7SC-NNFxODhkTzsjVe34e_NWCHwE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GfVrZfWaf10pmbJ7SC-NNFxODhkTzsjVe34e_NWCHwE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To Do"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "20f1ce37-2004-4b90-9c61-3c85d02acf5b",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VTWT6M6ynSa6ONV3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"Search the web for {{ $json.Topic }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "f8015fc4-64ba-495a-a8f3-6663ed68f80e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article 1: {{ $json.results[0].content }}\nArticle 2: {{ $json.results[1].content }}\nArticle 3: {{ $json.results[2].content }}\n",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent responsible for generating a concise, inspiring LinkedIn post targeted at entrepreneurs, based on the content of three given articles.\n\n# Context\n- The agent receives 3 articles on a related topic.\n- The goal is to synthesize the key ideas into a short, professional LinkedIn post.\n- The tone should be motivational, forward-thinking, and relevant to the entrepreneurial mindset.\n- The output should be optimized for engagement using relevant hashtags and light use of emojis.\n\n# Instructions\n1. Read and extract the core themes, trends, or insights from all 3 articles.\n2. Identify any common threads or overarching message.\n3. Write 1 LinkedIn post (max 700 characters) that blends the main insights into a unified, inspiring message.\n4. Use 2–4 relevant hashtags that align with the post topic and entrepreneur interests.\n5. Add 1–3 tasteful emojis to increase engagement without reducing professionalism.\n6. Do not quote or directly reference article sources. Focus on synthesizing ideas.\n\n# Examples\n- Input: 3 articles on AI in startups, bootstrapping, and the rise of solopreneurs.\n- Output:\n\"From AI copilots to lean bootstrapping, the age of the solopreneur is now. 🚀  \nEntrepreneurs are rewriting the rules—scaling smarter, faster, and with less.  \nEmbrace the shift. The tools are here. The future is solo-powered.  \n#Entrepreneurship #AI #Bootstrapping #FutureOfWork\"\n\n# SOP (Standard Operating Procedure)\n1. Receive the 3 articles and briefly scan each to extract top insights.\n2. Group overlapping ideas into 1–2 core messages.\n3. Draft a LinkedIn post with a motivating tone, keeping under the character limit.\n4. Add emojis and hashtags appropriately.\n5. Review for clarity, grammar, and impact.\n\n# Final Notes\n- Posts must always be original and never copy from the source articles.\n- Avoid technical jargon or overly niche terms—keep it accessible.\n- Prioritize clarity, brevity, and emotional resonance.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "fdf14aed-9fec-4895-8fdc-defb12378a11",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        496,
        208
      ],
      "id": "8809b2f0-40bd-49d3-b793-6997ba5ecdde",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TDTX1n92GhANRmBS",
          "name": "DEMO"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1GfVrZfWaf10pmbJ7SC-NNFxODhkTzsjVe34e_NWCHwE",
          "mode": "list",
          "cachedResultName": "LinkedIn Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GfVrZfWaf10pmbJ7SC-NNFxODhkTzsjVe34e_NWCHwE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GfVrZfWaf10pmbJ7SC-NNFxODhkTzsjVe34e_NWCHwE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Get row(s) in sheet').item.json.Topic }}",
            "Status": "Created",
            "Content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "ab64f738-d3ff-4887-bbea-e6da9732b5b0",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VTWT6M6ynSa6ONV3",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7dea69a3-202b-451a-88fa-e4f5d2f475f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19f96418b2d3b349af2039867261256ba1a243869d32abea543f98d405025d3a"
  },
  "id": "fNCGE62qkT01HlpM",
  "tags": []
}