RAG Pipeline & Chatbot.json
{
  "name": "RAG Pipeline & Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1CBDUaw-pWZWNymGU8sI0E6Hi6daK4b-g",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1CBDUaw-pWZWNymGU8sI0E6Hi6daK4b-g"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b78dc8b1-a87b-4629-bb3b-1930d8fd9b1b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "birpgDigoaGXq2iC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "eed325b6-89a9-4ed0-96d2-20b40a02d38b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "birpgDigoaGXq2iC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "9106dfa5-ac73-4a50-a957-5daf89c1b037",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "9Xe88sHSoOBnn0FZ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        192
      ],
      "id": "463cf716-e176-4078-af73-6bfc96bab8bc",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TDTX1n92GhANRmBS",
          "name": "DEMO"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "e6e6696c-eb6c-4674-bac2-1ad92d4dbd78",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        544,
        384
      ],
      "id": "66423e3b-e557-45b0-927a-ad9ef61f7c56",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        960,
        0
      ],
      "id": "2a3b359e-e619-49de-a232-98d844db5133",
      "name": "When chat message received",
      "webhookId": "ecd42a1e-62d2-427a-9822-ab4f21806ea5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1168,
        0
      ],
      "id": "fa0d371c-e61b-4ff5-ae6e-aaf6f4a8da11",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet",
        "options": {
          "maxTokens": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1040,
        208
      ],
      "id": "68ab0d78-7024-42c5-8e39-105e1376c428",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "vITDPiGbBlUVPqKw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access the policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1424,
        224
      ],
      "id": "920800bd-9f66-47cf-87c4-b3ebc400aba1",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "9Xe88sHSoOBnn0FZ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1376,
        400
      ],
      "id": "e54ba638-357a-4f8a-b7ac-d45f88e35656",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "TDTX1n92GhANRmBS",
          "name": "DEMO"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0f4d25b1-c9c1-4d9b-917f-335ab631c7bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19f96418b2d3b349af2039867261256ba1a243869d32abea543f98d405025d3a"
  },
  "id": "hAMQfJqZ4q23gJR3",
  "tags": []
}